

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
	
}
.artmenu a:hover{

background-color:#2E5E79;
}


.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
	background-color:#315C7C;
	
	
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
	
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
	
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
	
	
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	
	background-color:#204562;
	
	
}

.nav
{
	position: relative;
	height: 29px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 29px;
	width:910px;
	background-image: url('images/nav.png');
}

.nav .l
{
	left: 0;
	right:0px;
}

.nav .r
{
	right: 0;
	width: 892px;
	clip: rect(auto, auto, auto, 892px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 29px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 96px;
	background-image: url('images/MenuItem.png');
	background-color:#204562;
}

.artmenu a .l
{
	left:0;
	right:0px;
}

.artmenu a .r
{
	width:400px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.artmenu a .t 
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	padding: 0 22px;
	margin: 0 0px;
	line-height: 29px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-29px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-29px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-29px;
}
.artmenu a:hover .t
{
	color: #fff;
}

.artmenu li:hover a .t
{
	color: #fff;
}

.artmenu li:hover>a .t
{
	color: #fff;
}



/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	display: block;
	width: 2px;
	height: 29px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 29px;
	width: 180px;
	overflow:hidden;
	line-height: 32px;
	margin-right: auto;
	background-color:#204562;

	background-image: url('images/MenuItem.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	border-color: #D8D8D8;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 32px;
	color: #fff;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
	
}

.artmenu ul li a:hover
{
	color: #fff;
	border-color: #4C5A67;
	background-position: 0 -32px;
	
}

.artmenu ul li:hover>a
{
	color: #fff;
	border-color: #D8D8D8;
	background-position: 0 -29px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #fff;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #fff;
}


/* end MenuSubItem */


